# funcx==0.0.2a0
globus_sdk
psycopg2-binary
# dfttopif
Pillow
# hyperspy
# tableschema
flask
# flask_api
# flask_wtf
requests
# globus-action-provider-tools
boto3
# datasketch
# google-api-python-client
# google-auth-oauthlib
numpy
# globus-action-provider-tools
xtract_sdk==0.0.5
# git+https://github.com/materials-data-facility/MaterialsIO.git