<!DOCTYPE html>
<html lang="en">
<head>
    <meta name = "viewport" content="width=device-width" initial-scale = 1.0">
    <title>Login</title>
</head>
<body>
    <div class = "container">
    <h1> Login Here:</h1>
    <br>
    <form action="" method = "post">
        <input type = "text" placeholder="Username" name="username" value="{{
            request.form.username }}">
        <input type="password" placeholder="Password" name="password" value="{{
            request.form.password}}">
        <input class="btn btn-default" type="submit" value="Login">
    </form>
    {% if error %}
    <p class="error"><strong>Error:</strong> {{ error  }}</p>
    {% endif %}
        {% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}
    </div>
    <p><a href="/registration">Sign up</a> </p>
</body>
</html>