<!DOCTYPE html>
<html lang="en">
<title>Sign Up</title>
<form action="" method="post">
  <div class="container">
    <h1>Sign Up</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <label> <b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

      <div class="clearfix">
      <button type="button" onclick="window.location.replace('/')" class="cancelbtn">Cancel</button>
      <button type="submit" class="signupbtn">Sign Up</button>
        {% for message in get_flashed_messages() %}
               {{ message }}
        {% endfor %}
<!--    {% for message in get_flashed_messages() %}-->
<!--            {{ message }}-->
<!--    {% endfor %}-->
    </div>
  </div>
</form>